<!DOCTYPE html>
<html lang="en">
<head>

	<link href="{{STATIC_URL}}css/base.css" rel="stylesheet">
	<title>Dribbble Gallery</title>

</head>

<body>
	
	<div id='toolbar'>
		<span class='category'>popular</span>
		<span class='category'>debuts</span>
		<span class='category'>everyone</span>
	</div>

	<div id='grid'></div>

	<script type='text/template' id='box-template'>

		<img class='image' src='<%- image %>'/>
		
		<div class='detail'>
			<img  class='icon' src='{{STATIC_URL}}images/star.png'/>
			<span class='info likes'><%- likes %> Likes</span>
			<img  class='icon' src='{{STATIC_URL}}images/bubble.jpg'/>
			<span class='info comments'><%- comments %> Comments</span>
		</div>

	</script>

	<script src="{{STATIC_URL}}lib/jquery.min.js"></script>
	<script src="{{STATIC_URL}}lib/lodash.min.js"></script>
	<script src="{{STATIC_URL}}lib/backbone-min.js"></script>
	<script src="{{STATIC_URL}}js/models.js"></script>
	<script src="{{STATIC_URL}}js/views/box.js"></script>
	<script src="{{STATIC_URL}}js/views/app.js"></script>
	<script src="{{STATIC_URL}}js/drib.js"></script>
	
</body>
</html>