<!DOCTYPE html>
<html lang="en">
<head>

	<link href="{{STATIC_URL}}css/base.css" rel="stylesheet">
	<title>Dribbble Gallery</title>

</head>

<body>
	
	<div id='toolbar'>toolbar</div>

	<script type='text/template' id='box-template'>
		<img src='<%- image %>' />
		<span class='info likes'><%- likes %> Likes</span>
		<span class='info comments'><%- comments %> Comments</span>
	</script>

	<script src="{{STATIC_URL}}lib/jquery.min.js"></script>
	<script src="{{STATIC_URL}}lib/lodash.min.js"></script>
	<script src="{{STATIC_URL}}lib/backbone-min.js"></script>
	<script src="{{STATIC_URL}}js/models.js"></script>
	<script src="{{STATIC_URL}}js/views/box.js"></script>
	<script src="{{STATIC_URL}}js/views/app.js"></script>
	<script src="{{STATIC_URL}}js/drib.js"></script>
	
</body>
</html>